/* :root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
} */


/* my own styles below.  */
/* .mycontacts{
  display: flex;
} */
body{
  margin: 5rem;
  padding: 0;
  box-sizing: border-box;
}

.mb-3{
text-align: left;  
color: black;
  font-size: large;
}

.input{
  width: 20rem;
}

.btn{
  display: flex;
  margin-block: 2rem;
  background-color: rgb(6, 6, 57,0.5);
  width: 20rem;
  font-size: larger;
  border: 1px solid transparent;
padding-inline:7rem ;

}

h1{
  /* text-align: left; */
  color: black;
  text-decoration: underline;
  margin-bottom: 2rem;
  

}

.myforms{
  background-color: rgb(21, 188, 188);
padding-inline: 8rem;
padding-block: 2rem;
border: 1px solid transparent;
border-radius: 20px;
}

.mycontact{
  background-color: rgb(21, 188, 188);
  padding: 1rem;
  border: 1px solid transparent;
  border-radius: 20px;
  margin-top: 2rem;
  height: 12rem;
  width: 12rem;
  color: black;
  }

  .mycontacts{
    display: grid;
  grid-template-columns: repeat(3, 1fr);
  }

